
.eins-modal.custom-size > .eins-modal-content{
    max-height: 600px;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}
.keysTable {
    border-collapse: collapse;
    background-color: #fff;
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
    position: relative;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.keysTable table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    
}

.keysTable table th,
.keysTable table td {
    padding: 10px;
    border: 1px solid #ccc;
}
.keysTable table th {
    background-color: #eee;
}
.keysTable table td {
    text-align: center;
}